.carousel-container {
  position: relative;
  width: 1240px !important;
  margin: 0 auto;
  overflow: hidden;
}

span.block-related-heading {
  font-size: 23px !important;
  font-weight: bold !important;
  margin: 30px 0 20px;
  text-align: center;
}

.block-title.title {
  text-align: center !important;
}

.block-title.title span {
  font-size: 24px !important;
  font-weight: 700 !important;
}

.block-title.title {
  text-align: center !important;
}

@media (max-width: 1024px) {
  .carousel-container {
    width: 100% !important;
  }

  .svg_arrow {
    display: none;
  }

  .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    height: 30px !important;
    /* margin-bottom: 20px; */
  }

  .dots-container .slick-dots {
    bottom: 0;
  }

  .dots-container .slick-dots li button {
    width: 10px;
    height: 10px;
    /* margin: 0 5px; */
    background: #fbfbff;
    border: solid 1px #cacaca;
    border-radius: 50%;
    /* display: inline-block; */
    transition: background-color 300ms ease;
  }

  .dots-container .slick-dots .slick-active button {
    border: solid 1px #ff0000;
    background-color: #ff0000;
  }
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  /* -ms-flex-order: 4;
  -webkit-order: 3; */
}

.carousel-item {
  flex: 0 0 auto;
  width: 248px;
  height: 398.25px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  /* padding: 3px */
}

.span_carousel_img {
  align-items: center;
}

.carousel_prod_img {
  width: 130px;
  height: 130px;
  max-width: 130px;
  max-height: 130px;
}

.carousel_prod_title {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  display: block;
  min-height: 18px;
  height: 20px;
  overflow: hidden;
}

.carousel_prod_descr {
  height: 60px;
  width: 205px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  text-decoration: none;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.arrows_div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  /* margin-bottom: 30px; */
}

.prev, .next {
  background-color: white !important;
  background: white !important;
  padding: 3px;
  margin: 1px;
  border: transparent !important;
}

.prev:hover {
  left: 0;
  color: gray;
  background-color: white !important;
  border: transparent !important;
}

.next:hover {
  right: 0;
  color: rgb(245, 84, 111);
  background-color: white !important;
  border: transparent !important;
}

.prev {
  left: 0;
  color: gray;
}

.next {
  right: 0;
  color: rgb(245, 84, 111);
}

.product-addtocart-button {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  width: 100%;
  max-width: 190px;
  margin-top: 9px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  height: 39px !important;
  background: #f61411;
}

.arrows_div .slick-prev, .arrows_div .slick-arrow {
  display: none !important;
}
